{% extends 'baseadmin.html.twig' %}

{% block title %}
    Les auteurs
{% endblock %}

{% block categorie %}
{% endblock  %}

{% block content %}
    <article class="preview_author">
        <h2>{{ author.firstName }} {{ author.name }}</h2>
            <p>né le {{ author.birthDate|date("d/m/Y")}}  {% if author.deathDate is not null %}et mort le {{ author.deathDate|date("d/m/y") }}{% endif %}</p>
            <p>{{ author.biography }}</p>
        <a href="{{ path('authors_admin') }}" class="button">retour</a>
    </article>
{% endblock %}
