{% extends 'baseadmin.html.twig' %}

{% block title %}
    Enregistrement
{% endblock %}

{% block categorie %}
    Merci le nouvel auteur a bien été enregistré
{% endblock %}

{% block content %}
    <article class="preview">
        <h2>{{ author.firstName }} {{ author.name }}</h2>
            <p>né le {{ author.birthDate|date("d/m/Y") }}  {% if author.deathDate is not null %}et mort le {{ author.deathDate|date("d/m/Y") }}{% endif %} </p>
            <p>{{ author.biography }}</p>
        <a href="{{ path('author_admin', {'id':author.id}) }}" class="button">consulter</a>
    </article>
{% endblock %}