{% extends 'base.html.twig' %}

{% block title %}
    Les auteurs
{% endblock %}

{% block categorie %}
    des auteurs
{% endblock  %}

{% block lien1 %}{{ path('book_list') }}{% endblock %}

{% block content %}
        <article class="preview">
            <h1>{{ author.firstName }} {{ author.name }}</h1>
            <p>né le {{ author.birthDate|date("d/m/Y")}} et mort le {{ author.deathDate|date("d/m/Y") }}</p>
        </article>
{% endblock %}


