
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<header>

    <div class="top">
        <div class="img"><img src="{{ asset('img/logo.png') }}" class="logo" alt="logo"></div>
        <div class="connect">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </div>

    <nav id="navbar">
        <ul>
            <li><a href="{{ path('home_admin') }}">Accueil</a></li>
            <li><a href="{{ path('books_admin') }}">Nos livres</a></li>
            <li><a href="{{ path('authors_admin') }}">Nos auteurs</a></li>
            <li><a href="{{ path('admin_author_insert_form') }}">Ajouter un auteur</a></li>
            <li><a href="{{ path('admin_book_insert_form') }}">Ajouter un livre</a></li>
            <li>
                <form action="{{ path('author_search') }}" method="GET"><input class="searchbar" id="search" type="text" placeholder="recherche" name="search"></form>
            </li>
        </ul>
    </nav>

</header>

<main>
    <div class="return">
        {% block return %}
        {% endblock %}</div>
    <h1 class="presentation">
        {% block categorie %}
        {% endblock %}</h1>
    <div class="contenu">
        {% block content %}
        {% endblock  %}
    </div>
</main>

<footer>
    <div class="footer"></div>
</footer>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
</body>
</html>